{{#each validationErrors as |error|}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{{/each}}

<h3>
  Edit Joke
</h3>
<div class="edit-form">
  <form {{action 'editJoke' model on='submit'}}>

    <div>
      <div>Setup:</div>
      {{textarea class="form-control" value=model.setup}}
    </div>

    <div>
      <div>Punchline:</div>
      {{textarea class="form-control" value=model.punchline}}
    </div>

    <div>
      <input type="Submit" class="button">
    </div>

  </form>

<br>
{{link-to "Back to joke" 'jokes.show' joke}}
</div>


<div class="delete-button">
  <form {{action 'deleteJoke' model on='submit'}}>
      <input type="Submit" class="button" value="DELETE FOREVER">
  </form>
</div>
